<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('static-files') %>
    <link rel="stylesheet" href="/styles/genre-page.css" />
    <title>Genres</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%- include('sidebar') %>
      <section class="genre-page-section">
        <h1>Genres</h1>
        <form action="" method="GET" id="genre-filter-form">
          <h3>Filter</h3>
          <div class="filter-genres">
            <label
              ><input type="checkbox" name="genres" value="adventure" />
              Adventure</label
            >
            <label
              ><input type="checkbox" name="genres" value="thriller" />
              Thriller</label
            >
            <label
              ><input type="checkbox" name="genres" value="young-adult" /> Young
              Adult</label
            >
            <label
              ><input type="checkbox" name="genres" value="folklore" />
              Folklore</label
            >
            <label
              ><input type="checkbox" name="genres" value="cyberpunk" />
              Cyberpunk</label
            >
            <label
              ><input type="checkbox" name="genres" value="sci-fi" />
              Sci-Fi</label
            >

            <label
              ><input type="checkbox" name="genres" value="fantasy" />
              Fantasy</label
            >
            <label
              ><input
                type="checkbox"
                name="genres"
                value="historical-fiction"
              />
              Historical Fiction</label
            >
            <label
              ><input type="checkbox" name="genres" value="drama" />
              Drama</label
            >
            <label
              ><input
                type="checkbox"
                name="genres"
                value="psychological-thriller"
              />
              Psychological Thriller</label
            >
            <label
              ><input type="checkbox" name="genres" value="steampunk" />
              Steampunk</label
            >

            <label
              ><input type="checkbox" name="genres" value="social-realism" />
              Social Realism</label
            >
            <label
              ><input type="checkbox" name="genres" value="autobiography" />
              Autobiography</label
            >
            <label
              ><input type="checkbox" name="genres" value="biography" />
              Biography</label
            >
            <label
              ><input type="checkbox" name="genres" value="satire" />
              Satire</label
            >

            <label
              ><input type="checkbox" name="genres" value="fiction" />
              Fiction</label
            >
            <label
              ><input type="checkbox" name="genres" value="poem" /> Poem</label
            >
            <label
              ><input type="checkbox" name="genres" value="fairy-tale" /> Fairy
              Tale</label
            >
            <label
              ><input type="checkbox" name="genres" value="new-adult" /> New
              Adult</label
            >
            <label
              ><input type="checkbox" name="genres" value="comedy" />
              Comedy</label
            >

            <label
              ><input type="checkbox" name="genres" value="romance" />
              Romance</label
            >
            <label
              ><input type="checkbox" name="genres" value="mystery" />
              Mystery</label
            >
            <label
              ><input type="checkbox" name="genres" value="dystopian-fiction" />
              Dystopian Fiction</label
            >
            <label
              ><input type="checkbox" name="genres" value="novel" />
              Novel</label
            >
            <label
              ><input type="checkbox" name="genres" value="utopian-fiction" />
              Utopian Fiction</label
            >
            <label
              ><input type="checkbox" name="genres" value="action" />
              Action</label
            >
          </div>
          <h3>Order By</h3>
          <div class="sorting-options-div">
            <div>
              <input
                type="radio"
                name="sort"
                id="title-asc"
                checked
                value="title-asc"
              />
              <label for="title-asc">Title A-Z</label>
            </div>
            <div>
              <input
                type="radio"
                name="sort"
                id="title-desc"
                value="title-desc"
              />
              <label for="title-desc">Title Z-A</label>
            </div>
            <div>
              <input type="radio" name="sort" id="oldest" value="oldest" />
              <label for="oldest">Oldest</label>
            </div>
            <div>
              <input type="radio" name="sort" id="newest" value="newest" />
              <label for="newest">Newest</label>
            </div>
          </div>
          <div class="form-apply-button">
            <button type="submit">Apply Filters</button>
          </div>
        </form>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
