<header>
  <div>
    <img src="/images/inventory.png" alt="Logo" class="header-logo" />
    <h1>Inventory Application</h1>
  </div>
  <button type="button" class="header-add-button">
    <!-- <img src="/images/add.png" alt="add button icon" /> -->
  </button>
</header>
