<header>
  <div>
    <img
      src="/images/inventory.png"
      alt="Logo"
      class="header-logo"
      id="header-logo-img"
    />
    <h1>Inventory Application</h1>
  </div>
  <a href="/books/add">
    <button type="button" class="header-add-button">
      <!-- <img src="/images/add.png" alt="add button icon" /> -->
    </button>
  </a>
</header>
