<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/styles/root.css" />
    <title>Inventory Application</title>
  </head>
  <body>
    <%- include('header') %>
    <main class="homepage-container">
      <aside class="sidebar">
        <nav>
          <a href="">Home</a><a href="">Books</a><a href="">Genres</a
          ><a href="">Add New Book</a>
        </nav>
      </aside>
      <section class="main-section">
        <div class="main-section-logo">
          <img src="/images/inventory.png" alt="Inventory logo" />
          <h1>Inventory Application</h1>
        </div>
        <div class="routes">
          <div>
            <img src="/images/books.png" alt="books icon" />
            <h2><%= books.length %> Books</h2>
          </div>
          <div>
            <img src="/images/genres.png" alt="Genres Icon" />
            <h2><%= genres.length%> Genres</h2>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
