<aside class="sidebar">
  <nav class="sidebar-navigation-buttons">
    <a href="/" id="home-page-button">Home</a>
    <a href="/books" id="books-page-button">Books</a>
    <a href="/genres" id="genres-page-button">Genres</a>
    <a href="/books/add" id="new-book-page-button">Add New Book</a>
  </nav>
</aside>
