html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  padding: 0;
  color: white;
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
  background-color: yellow;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: rgb(32, 31, 27);
}

header > div {
  display: flex;
  align-items: center;
  gap: 30px;
}
header > div > h1 {
  margin: 0;
}
.header-logo {
  width: 60px;
  height: 60px;
}

.header-add-button {
  width: 50px;
  height: 50px;
  background-image: url("./images/add.png");
  background-position: center;
  border: none;
  border-radius: 60px;
}

/* main section */
.homepage-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 30px;
  background-color: rgb(54, 53, 48);
  border-right: 3px solid gold;
}
.sidebar > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar > nav > a {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  padding: 18px 30px;
  width: 100%;
}
.sidebar > nav > a:hover,
.sidebar > nav > a:visited,
.sidebar > nav > a:active,
.sidebar > nav > a::selection {
  text-decoration: none;
}

.sidebar > nav > a:hover {
  font-weight: 600;
  color: black;
  background-color: yellow;
}
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-section-logo > img {
  width: 120px;
  height: 120px;
}
.routes {
  display: flex;
  gap: 50px;
}
.routes > div {
  display: flex;
  padding: 40px;
  gap: 20px;
  border: 3px solid yellow;
  border-radius: 30px;
  background-color: rgb(54, 53, 48);
}
.routes > div > img {
  width: 60px;
  height: 60px;
}

/* footer styles */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(54, 53, 48);
  border-top: 3px solid yellow;
}

footer a {
  color: white;
}
