/* main section */
.homepage-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 30px;
  background-color: rgb(54, 53, 48);
  border-right: 3px solid gold;
}
.sidebar > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar > nav > a {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  padding: 18px 30px;
  width: 100%;
}
.sidebar > nav > a:hover,
.sidebar > nav > a:visited,
.sidebar > nav > a:active,
.sidebar > nav > a::selection {
  text-decoration: none;
}

.sidebar > nav > a:hover {
  font-weight: 600;
  color: black;
  background-color: yellow;
}
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-section-logo > img {
  width: 120px;
  height: 120px;
}
.routes {
  display: flex;
  gap: 50px;
}
.routes > div {
  display: flex;
  padding: 40px;
  gap: 20px;
  border: 3px solid yellow;
  border-radius: 30px;
  background-color: rgb(54, 53, 48);
  cursor: pointer;
  transition: 0.3s ease transform;
}
.routes > div:hover {
  transform: scale(1.03);
}
.routes > div > img {
  width: 60px;
  height: 60px;
}
