.card {
  display: flex;
  padding: 10px 20px;
  border: 2px solid greenyellow;
  background-color: rgb(54, 53, 48);

  border-radius: 10px;
}
.book-details {
  width: 100%;
}
.bottom-border {
  width: 100%;
  border-bottom: 3px solid green;
  padding-bottom: 0.6lh;
  margin: 0;
}

.above-border {
  margin: 0;
  padding-top: 0.6lh;
}
.card > img {
  height: 180px;
}

.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 0.6lh;
}

.card-buttons > button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(86, 86, 77);
  /* background-color: none; */
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.card-edit-button {
  background-image: url("./../images/pencil.png");
}

.card-edit-button:hover {
  cursor: pointer;
  border: 2px solid blue;
}

.genres-in-card {
  color: greenyellow;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in;
  border: 4px solid yellow;
}
