/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: rgb(32, 31, 27);
}

header > div {
  display: flex;
  align-items: center;
  gap: 30px;
}
header > div > h1 {
  margin: 0;
}
.header-logo {
  width: 60px;
  height: 60px;
}

.header-add-button {
  width: 50px;
  height: 50px;
  background-image: url("./images/add.png");
  background-position: center;
  border: none;
  border-radius: 60px;
}
