@font-face {
  font-family: "Fredoka";
  src: url("./../fonts/Fredoka-Variable.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Variable.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Variable.ttf") format("truetype");
}

:root {
  font-family: "Roboto", "Fredoka", "Inter";
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  padding: 0;
  color: white;
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
}
